.AdminFgcList {
    display: grid;
    max-width: 48rem;
    margin: 0 auto;
}

@media only screen and (max-width: 980px) {
    .AdminFgcList {
        width: min(96%, 60rem);
        padding: 5px;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
}

.AdminFgcList .Table {
    margin-top: 1em;
}

.AdminFgcList h2 {
    color: var(--white-87);
    font-size: 2rem;
    text-align: center;
}

.AdminFgcList div[role="table"] > *:last-child {
    border-radius: 0 0 .5rem .5rem;
    overflow: hidden;
}

.AdminFgcList__TBody .Row,
.AdminFgcList__THead .Row {
    position: relative;
    display: grid;
    grid-template:
        'avatar discord rating ogs kgs' min-content
        / 5rem 1fr 7rem 7rem 7rem 0px;
    gap: 1rem;
    padding: 0.75rem;
}

.AdminFgcList__THeadContainer {
    position: sticky;
    top: 96px;
    z-index: 10;
    background: var(--cod-gray);
}

.AdminFgcList__THead {
    position: relative;
    z-index: 11;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    background: var(--sun);
    border-radius: .5rem .5rem 0 0;
}

@media only screen and (max-width: 980px) {
    .AdminFgcList__THead {
        font-size: 1.25rem;
    }
}

.AdminFgcList__TBody .Row {
    background: var(--mine-shaft);
    cursor: pointer;
}

.AdminFgcList__TBody .Row:nth-of-type(even) {
    background: var(--tundora);
}

.AdminFgcList__TBody .Row a::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
}

.AdminFgcList__TBody .Row:hover {
    background: var(--sun-20);
}

.AdminFgcList__THead {
    color: black;
    text-align: center;
}

div[role="gridcell"] {
    display: grid;
    align-content: center;
    justify-items: center;
}

.AdminFgcList__TBody  {
    color: var(--white-87);
    text-align: center; 
}

.Avatar {
    grid-area: avatar;
}

.Discord {
    grid-area: discord;
}

.Rating {
    grid-area: rating;
}

.KgsRating {
    grid-area: kgs;
}

.OgsRating {
    grid-area: ogs;
}

.Avatar img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

.Discord a {
    text-decoration: none;
}

span.Valid {
    font-size: 1.2rem;
    font-family: var(--accent-font);
    color: var(--eucalyptus);
}

span.Neutral {
    font-size: 1.2rem;
    font-family: var(--accent-font);
    color: var(--sun);
}

span.Invalid {
    font-size: 1.2rem;
    font-family: var(--accent-font);
    color: var(--punch);
}

@media only screen and (max-width: 980px) {
    .AdminFgcList__TBody .Row,
    .AdminFgcList__THead .Row {
        gap: .5rem;
        grid-template:
            'avatar discord rating ogs kgs' min-content
            / 4rem 4rem 1fr 4rem 4rem;
    }

    .Discord {
        text-align: left;
    }
}
