.Exam {
    margin: auto;
    text-align: center;
    max-width: 72rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1em;
}

@media only screen and (max-width: 980px) {
    .Exam {
        gap: .5rem;
        grid-template-columns: 1fr;
        width: min(96%, 60rem);
        padding: 5px;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }

    .Exam__RightColumn,
    .Exam__LeftColumn {
        width: 96%;
    }
}

.ExamRanking {
    background: var(--mine-shaft);
    border-radius: .5rem;
    width: 100%;
}

.ExamRanking__TBody .Row,
.ExamRanking__THead .Row {
    position: relative;
    display: grid;
    grid-template:
            'avatar hunter pseudo total participation community patience victory refinement performance achievement ratio' min-content
            / 2rem 2rem 1fr 3rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 0px;
    gap: 1rem;
    padding: .5rem .75rem .5rem .75rem;
}

.ExamRanking__THead {
    position: sticky;
    top: 98px;
    z-index: 10;
    color: var(--white-87);
    font-size: 1.2rem;
    font-weight: bold;
    background: black;
    border-radius: .5rem .5rem 0 0;
    box-shadow: 0 0 0 2px var(--sun);
}

.ExamRanking__TBody .Row {
    background: var(--emperor);
    cursor: pointer;
    color: var(--white-87);
}

.ExamRanking__TBody .Row:nth-of-type(even) {
    background: var(--tundora);
}

.ExamRanking__TBody .Row:last-child {
    border-radius: 0 0 .5rem .5rem;
}

.ExamRanking__AvatarPicture {
    border-radius: 50%;
    border: 2px solid var(--sun);
}

.ExamRanking__Hunter {
    color: var(--sun);
}

.ExamRanking__Total {
    color: var(--sun);
    font-size: 1.5rem;
    font-family: var(--accent-font);
}

.ExamRanking__TBody .Row a::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
}

.ExamRanking__TBody .Row:hover,
.ExamRanking__TBody .Row:focus-within {
    background: var(--sun-20);
}

.ExamRanking__Ratio {
    font-style: italic;
}

.ExamTitle {
    width: 100%;
}

.ExamTitle__Content {
    width: 100%;
}

.ExamTitle__Item {
    position: relative;
    display: grid;
    grid-template:
            'name emoji stars pseudo' min-content
            / 1fr 1rem 1rem 1fr 0px;
    gap: .5rem;
    padding: 0.80rem;
    transition: all .2s;
    color: var(--white-87);
}

.ExamTitle__Item:nth-child(even) {
    background: var(--tundora);
}

.ExamTitle__Item:nth-child(odd) {
    background: var(--emperor);
}

.ExamTitle__Item:last-child {
    border-radius: 0 0 .5rem .5rem;
}

.ExamTitle__Name {
    grid-area: name;
    font-size: 1rem;
    justify-items: start !important;
}

.ExamTitle__Emoji {
    grid-area: emoji;
}

.ExamTitle__Stars {
    grid-area: stars;
    color: var(--sun);
}

.ExamTitle__Pseudo {
    grid-area: pseudo;
    justify-items: start !important;
}

.Card:has(.ExamStats) {
    background: var(--emperor);
}

.ExamStats {
    padding: 1em;
    text-align: center;
    margin: auto;
}

.ExamStats__StatItem {
    margin: 0.5em 0 0.5em 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    text-align: start;
}

.ExamStats__StatHighlight {
    width: 48px;
    margin: 0 0 0 1rem;
    font-size: 2.5rem;
    font-family: var(--accent-font);
    color: var(--sun);
    text-align: center;
}

.ExamStats__StatText {
    font-size: 1rem;
    color: var(--white-87);
    margin: 0 0 0 1rem;
}

.ExamHistory {
    width: 100%;
}

.ExamHistory__Content {
    width: 100%;
}

.ExamHistory__PromoItem,
.ExamHistory__PromoHeader {
    position: relative;
    display: grid;
    grid-template:
            'name players games score' min-content
            / 2fr 1fr 1fr 1fr 0px;
    gap: .5rem;
    padding: 0.8rem;
    transition: all .2s;
    color: var(--white-87);
}

.ExamHistory__PromoHeader {
    background-color: black;
    color: var(--sun);
    font-family: var(--accent-font);
    font-size: 1.1rem;
}

.ExamHistory__PromoItem:nth-child(even) {
    background: var(--tundora);
}

.ExamHistory__PromoItem:nth-child(odd) {
    background: var(--emperor);
}

.ExamHistory__PromoItem:last-child {
    border-radius: 0 0 .5rem .5rem;
}

.ExamHistory__PromoName {
    text-align: start;
    grid-area: name;
    justify-items: start !important;
}

.ExamHistory__PromoPlayers {
    grid-area: players;
}

.ExamHistory__PromoGames {
    grid-area: games;
}

.ExamHistory__PromoScore {
    grid-area: score;
}
