.Game {
    position: sticky;
    display: grid;
    grid-template-rows: 5rem 1fr;
    gap: 1rem;
    height: calc(80vh - 0rem);
}

@media only screen and (max-width: 980px) {
    .Game {
        width: min(96%, 60rem);
        justify-items: center;
        align-items: center;
        justify-content: center;

        all: initial;
        z-index: 1000;
        inset: 0;
        display: grid;
        grid-template-rows: min-content 1fr;
        gap: 1rem;
        padding: .5rem;
        background: rgba(0,0,0, .8);
    }
}

.Game__header {
    margin: 1rem 1rem 0 1rem;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr 2fr 0.5fr;
    align-items: center;
}

@media only screen and (max-width: 980px) {
    .Game__header {
        display: block;
        padding: 0;
        margin: 0 auto;
        width: 96%;
    }
}

.Game__Player {
    background: var(--tundora);
    border-radius: 1rem;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 980px) {
    .Game__Player {
        margin: 0.5rem;
    }
}

.Game__Player img {
    border-radius: 50%;
}

.Game__Player span {
    align-items: center;
}

.Game__PlayerName {
    color: var(--white-87);
    margin: 0;
    display: flex;
    align-items: center;
}

.Game__PlayerName span {
    margin: 0 1rem 0 1rem;
    max-width: 200px;
}

@media only screen and (max-width: 980px) {
    .Game__PlayerName span {
        margin: 0 0 0 0.25rem;
    }
}

.Game__PlayerName a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width: 980px) {
    .Game__PlayerTier {
        margin: 0.25rem;
        text-align: center;
    }
}

.Game__PlayerTier {
    margin: 0;
    color: var(--sun);
    font-size: 1.5rem;
    margin-top: 0.5rem;
    font-family: var(--accent-font);
    text-align: center;
}

.Game__PlayerRating {
    color: var(--white-87);
    margin: 0.2rem 0 0 .5rem;
    font-size: medium;
    border: 2px solid var(--sun);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

@media only screen and (max-width: 980px) {
    .Game__PlayerRating {
        margin: 0.25rem;
    }
}

.Game__Actions {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    color: var(--white-87);
}

@media only screen and (max-width: 980px) {
    .Game__Actions {
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}

.Game__Actions p {
    margin: 0;
}

.Game__Actions button,
.Game__Actions a {
    margin-top: .5rem;
    font-size: .75rem;
}

.Game__Share {
    background: var(--white-87);
    cursor: pointer;
}

.Game__Goban {
    position: relative;
    z-index: 1;
    margin: 0 1rem 0 1rem;
}

@keyframes slide-in {
    from {
        margin-top: 2rem;
        opacity: .25;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

.wgo-menu-item-permalink {
    display: none;
}

.wgo-info-value a,
.CallToAction {
    display: block;
    padding: .75em 1.25em;
    background: var(--sun);
    color: var(--cod-gray);
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: .5rem;
    cursor: pointer;
}

.wgo-info-value a {
    padding: .125em;
}

.CallToAction:focus {
    outline-offset: .25em;
    outline: solid var(--outlineColor, var(--sun)) 1px;
}