.PlayerPage {
    position: relative;
    display: grid;
    grid-template: 'card content' min-content /  35rem calc(100% - 40rem);
    gap: 1.25rem;
    justify-content: center;
    width: min(100%, 120rem);
    margin: 0 auto;
    padding: 2rem 0;
}

@media only screen and (max-width: 1400px) {
    .PlayerPage {
        grid-template: 'card content' min-content /  32rem calc(100% - 35rem);
    }
}

@media only screen and (max-width: 1000px) {
    .PlayerPage {
        grid-template: 'card' min-content 'content' min-content /  100%;
    }
}

.Card {
    grid-area: card;
}

.CardHeader {
    display: flex;
    margin: 0;
    background: var(--sun);
    border-radius: .5rem .5rem 0 0;
}

@media only screen and (max-width: 1000px) {
    .CardHeader {
        border-radius: 0;
    }
}

.CardHeader__avatar {
    width: 60px;
    height: 60px;
    margin: 10px;
    margin-left: 20px;
    border-radius: 50%;
}

.CardHeader > span {
    padding: .75rem;
    margin: auto;
    text-align: center;
    color: var(--cod-gray);
    font-size: 2rem;
}

@media only screen and (max-width: 1000px) {
    .CardHeader > span {
        font-size: 1.5rem;
    }
}

.NoGame {
    color: var(--white-87);
    margin: 0;
    padding-bottom: 1.25rem;
    text-align: center;
}

.Card__content{
    background: var(--mine-shaft);
    border-radius: 0 0 .5rem .5rem;
}

.Card__content> .headline {
    display: flex;
}

.Card__content> .headline > div {
    flex: 50%;
    font-family: var(--accent-font);
    padding: .75rem;
    margin: auto;
    text-align: center;
    color: var(--cod-gray);
    font-size: 2rem;
}
.Card__content> .headline > div > span {
    display: block;
    padding: .75rem;
    margin: auto;
    font-size: 2rem;
    color: var(--white-87);
}
.Card__content> .headline > div p {
    font-family: 'Lato', sans-serif;
    margin: auto;
    color: var(--white-87);
    font-size: 1rem;
    font-style: italic;
}
.Card__content> .subline {
    padding: 1.25rem;
}

.PlayerPage__tableTitle {
    margin: 0;
    padding: 1rem;
    color: var(--white-87);
    font-size: 1.5rem;
    text-align: center;
    background: var(--cod-gray);
    border-radius: .5rem .5rem 0 0;
}

.PlayerTable__row {
    position: relative;
    display: grid;
    grid-template:
            'date server portrait name  rank link' min-content
            / 4rem 4rem 2.5rem 1fr 2rem 4rem;
    gap: .5rem;
    padding: .5rem;
    box-shadow: 0 0 0 0 var(--sun);
    transition: all .2s;
}

@media only screen and (max-width: 500px) {
    .PlayerTable__row {
        /* empty space for the button */
        /*grid-template:*/
        /*    'date server .' min-content 'portrait name .' min-content 'rank rating .' min-content*/
        /*    / max-content 1fr 0;*/
        grid-template:
                'portrait name name' min-content 'date server rank' min-content 'link link link'
                / max-content 3rem 1fr;
        text-align: start;
    }
}

.PlayerTable__row:last-child {
    border-radius: 0 0 .5rem .5rem;
}

.Date {
    grid-area: date;
}

.Server {
    grid-area: server;
}

.Name {
    position: relative;
    grid-area: name;
}

.Name a {
    color: inherit;
    text-decoration: none;
}

.Name a:hover,
.Name a:focus-visible {
    color: var(--sun);
    text-decoration: underline;
}

.Name a::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
}

.Portrait {
    grid-area: portrait;
    place-self: center;
}

.Rank {
    grid-area: rank;
}

.Rating {
    grid-area: rating;
}

.PlayerTable__row {
    position: relative;
    color: var(--white-87);
}

.PlayerTable__row:nth-child(odd) {
    background: var(--tundora);
}
.PlayerTable__row:nth-child(even) {
    background: var(--emperor);
}

.PlayerTable__row::before {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    display: block;
    width: .5rem;
    height: 0;
    background-color: var(--sun);
    content: '';
    transition: height .2s;
}

.PlayerTable__row.selected::before {
    height: 100%;
}

.PlayerTable__row .logo {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.GameLink {
    grid-area: link;
}

@media only screen and (max-width: 500px) {
    .GameLink {
        justify-self: stretch;
    }
}

.PlayerTable__row .CallToAction {
    font-size: .875rem;
    padding-inline: 1em;
}

.sidebar {
    position: sticky;
    top: 8rem;
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr min-content;
}

@media only screen and (min-width: 1000px) {
    .sidebar {
        max-height: 80vh;
        padding: 2rem;
    }
}

.sidebar.chart {
    align-self: start;
}

.sidebar .CallToAction {
    margin: 2rem auto 0;
}

#chart {
    margin: 0;
}

.sidebar canvas {
    max-height: 100%;
    max-width: 100%;
}

.GameAccessMessage {
    place-self: center;
    padding: 1rem 2rem;
    border-radius: .5rem;
    background: var(--white-87);
}

.GameAccessMessage a {
    color: var(--sun);
}

.GameAccessMessage p {
    margin: 0;
}
