.SearchWidget {
    position: relative;
    display: grid;
    width: 16rem;
    margin: 2rem auto 2rem auto;
    background: white;
    border-radius: .25rem;
}

.SearchWidget::before {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translate(-50%, -50%);
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: url('../style/image/search.svg') no-repeat center / contain;
    content: '';
    pointer-events: none;
}

.SearchWidget__input {
    appearance: none;
    padding: 1rem 1rem 1rem 3rem;
    font-weight: 600;
    font-size: 1rem;
    background: none;
    border: none;
    width: 16rem;
    transition: all .2s;
    border-radius: inherit;
}

.SearchWidget__input:focus-visible {
    outline-offset: .25em;
    outline: solid var(--outlineColor, var(--sun)) 2px;
}

.PlayerList {
    display: grid;
    max-width: 48rem;
    margin: 0 auto;
}

@media only screen and (max-width: 980px) {
    .PlayerList {
        width: min(96%, 60rem);
        padding: 5px;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
}

.PlayerList h2 {
    color: var(--white-87);
    font-size: 2rem;
    text-align: center;
}

.PlayerList div[role="table"] > *:first-child {
    border-radius: .5rem .5rem 0 0;
    overflow: hidden;
}

.PlayerList div[role="table"] > *:last-child {
    border-radius: 0 0 .5rem .5rem;
    overflow: hidden;
}

.TBody .Row,
.THead .Row {
    position: relative;
    display: grid;
    grid-template:
            'avatar discord tier rating stability' min-content
            / 5rem 1fr 7rem 7rem 4rem 0px;
    gap: 1rem;
    padding: 0.75rem;
}

.THead {
    position: sticky;
    top: 96px;
    z-index: 10;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    background: var(--sun);
}

@media only screen and (max-width: 980px) {
    .THead {
        font-size: 1.25rem;
    }
}

.TBody .Row {
    background: var(--mine-shaft);
    cursor: pointer;
}

.TBody .Row:nth-of-type(even) {
    background: var(--tundora);
}

.TBody .Row a::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
}

.TBody .Row:hover {
    background: var(--sun-20);
}

.THead {
    color: black;
    text-align: center;
}

div[role="gridcell"] {
    display: grid;
    align-content: center;
    justify-items: center;
}

.TBody  {
    color: var(--white-87);
    text-align: center; 
}

.Avatar {
    grid-area: avatar;
}

.Discord {
    grid-area: discord;
}

.Tier {
    grid-area: tier;
}

.Rating {
    grid-area: rating;
}

.Stability {
    grid-area: stability;
}

.Avatar img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

.Discord a {
    text-decoration: none;
}

.Tier p {
    font-size: 1.2rem;
    font-family: var(--accent-font);
    color: var(--sun);
    margin: 0;
}

.Stability .stable::after,
.Stability .unstable::after {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background: url('../style/image/valid.svg') no-repeat center/contain;
}

.Stability .unstable::after {
    background-image: url('../style/image/invalid.svg');
}

@media only screen and (max-width: 980px) {
    .TBody .Row,
    .THead .Row {
        gap: .5rem;
        grid-template:
            'avatar avatar discord discord' min-content
            'tier tier rating stability' min-content
            / 5rem 5rem 1fr 5rem;
    }

    .Discord {
        text-align: left;
    }
}
