.GamePage {
    position: sticky;
    top: 8rem;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 1rem;
    height: calc(80vh - 0rem);
}

@media only screen and (max-width: 1000px) {
    .GamePage {
        all: initial;
        position: fixed;
        z-index: 1000;
        inset: 0;
        display: grid;
        grid-template-rows: min-content 1fr;
        gap: 1rem;
        padding: 5rem 1rem 1rem;
        background: rgba(0,0,0, .8);
    }
}

.GamePage__header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    background: var(--mine-shaft);
}

@media only screen and (max-width: 650px) {
    .GamePage__header {
        grid-template-columns: 1fr max-content;
    }
}

.GamePage__title {
    display: flex;
    flex-direction: column;
    color: white;

    margin: 0;
}

.GamePage__title span {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: .5ch;
    align-items: center;
    margin-top: .5em;
    color: var(--sun);
}

.GamePage__title img {
    border-radius: 50%;
}

.GamePage__actions {
    display: grid;
    gap: .5rem;
}

@media only screen and (max-width: 650px) {
    .GamePage__actions {
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.GamePage__actions button,
.GamePage__actions a {
    font-size: .75rem;
}

.GamePage__share {
    background: var(--white-87);
    cursor: pointer;
}

.GamePage__back {
    display: none;
}

.GamePage__infos {
    display: grid;
    gap: .5rem;
    color: var(--white-87);
}

.GamePage__infos p {
    margin: 0;
}

.GamePage__infos p .up,
.GamePage__infos p .down {
    display: inline-flex;
    align-items: center;
    gap: .5ch;
}

.GamePage__infos p .up {
    color: #28a745;
}

.GamePage__infos p .down {
    color: #dc3545;
}

.GamePage__infos p .up::after,
.GamePage__infos p .down::after {
    content: '';
    display: inline-block;
    width: 2ch;
    height: 1.3em;
    background: url('../style/image/trending_up.svg') no-repeat center/contain;
}

.GamePage__infos p .down::after {
    background-image: url('../style/image/trending_down.svg');
}

@media only screen and (max-width: 1000px) {
    .GamePage__back {
        position: fixed;
        z-index: 1010;
        top: 1rem;
        right: 1rem;
        display: block;
    }
}

.GamePage__goban {
    position: relative;
    z-index: 1;
}

.GamePage__modal {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1010;
    width: min(100% - 2rem, 30rem);
    padding: 2.5rem 1rem 1rem;
    font-family: var(--accent-font);
    font-size: 1.125rem;
    text-align: center;
    background: white;
    border-radius: .5rem;
    animation: slide-in .3s forwards;
}

.GamePage__modal button {
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: 1em;
    background: var(--sun) url('../style/image/close.svg') no-repeat center/70%;
}

.GamePage__modal p {
    margin: 0;
}

.GamePage__modal a {
    color: var(--brown-tumbleweed);
}

@keyframes slide-in {
    from {
        margin-top: 2rem;
        opacity: .25;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}
