.App {
    display: grid;
    min-height:100vh;
}


@media only screen and (max-width: 980px) {
    .App {
        justify-content: center;
    }
}


.Footer {
    padding: 2rem;
}

.Footer p {
    color: var(--white-87);
    text-align: center;
}
.Footer a {
    color: var(--sun);
}
