@import "normalize.css";

*,*::before,*::after {
    box-sizing: border-box;
}

:root {
    --cod-gray: #121212;
    --mine-shaft: #2C2C2C;
    --tundora: #383838;
    --emperor: #545454;
    --white-87: rgba(255, 255, 255, 0.87);

    --sun: #FCA311;
    --sun-20: rgb(252, 163, 17, 0.2);
    --punch: #dc3545;
    --punch-20: rgba(220, 53, 69, 0.2);
    --eucalyptus: #28a745;
    --eucalyptus-20: rgba(40, 167, 69, 0.2);

    --header-height: 5.75rem;

    --accent-font: 'Teko', sans-serif;
    font-family: 'Lato', sans-serif;

    background: var(--cod-gray);
}

.ReaderOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0 0,0 0,0 0);
}

.Container {
    width: min(100%, 60rem);
    margin: 0 auto;
    padding: 0 2rem;
}

.FlexContainer {
    display: flex;
}

a {
    transition: outline-offset .2s;
    border-radius: .25em;
}

a:focus-visible {
    outline-offset: .25em;
    outline: solid var(--outlineColor, var(--sun)) 2px;
}

.Error, .Success, .Info {
    place-self: center;
    padding: 1em 1.5em;
    font-size: .875rem;
    border-radius: 0.5rem;
}

.Error {
    color: var(--punch);
    background-color: var(--punch-20);
    border: 1px solid var(--punch);
}

.Success {
    color: var(--eucalyptus);
    background-color: var(--eucalyptus-20);
    border: 1px solid var(--eucalyptus);
}

.Info {
    color: var(--sun);
    background-color: var(--sun-20);
    border: 1px solid var(--sun);
}

.Info a {
    color: inherit;
}

.ErrorRow {
    place-self: center;
    padding: 1em 1.5em;
    color: #721c24;
    font-size: .875rem;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 0 0 0.5rem 0.5rem;
    margin-top: 0;
}

@keyframes pulse {
    from {
        opacity: 1;
    }
    to {
        opacity: .2;
    }
}

.Card,
.CardHighlighted {
    background: var(--tundora);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: start;
    border: 2px solid var(--sun);
}

.CardHighlighted {
    border: none;
    background: var(--mine-shaft);
}

.Card .CardHeader,
.CardHighlighted .CardHeader {
    display: flex;
    width: 100%;
    margin: 0;
    background: var(--mine-shaft);
    border-radius: .5rem .5rem 0 0;
}

.CardHighlighted .CardHeader {
    background: var(--sun);
}

.Card .CardHeader > span,
.CardHighlighted .CardHeader > span {
    padding: 1.5rem 0 .5rem 0;
    margin: auto;
    text-align: center;
    color: var(--white-87);
    font-size: 2rem;
    font-family: var(--accent-font);
}

.CardHighlighted .CardHeader > span {
    color: var(--cod-gray);
    margin: auto 144px auto 144px;
    width: 100%;
}

.CardContent {
    margin-top: -96px;
    width: 100%;
}